.slide {
    width: 400px;
    height: 300px;

    padding-left: 30px;
    padding-right: 30px;
}
.infoBox {
    margin-left: 100px;
    margin-right: 100px;
    width: 1400px;
    text-align: center;
    background-color: white;
    background: radial-gradient(white, transparent)
}
.destination {
    display: inline-block;
    text-align: left
}
.timeZones {
    display: inline-block;
    text-align: left  
}
.clock {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    background-color:rgb(115, 115, 180);
    color: white;
    width: 430px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    border: inset;
    border-width: 15px;
    }
.slideShow {
    width: 100%;
    background: transparent;
    height: 300px;
    display: inline-block;
    }
