.slide {
    width: 400px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px
}
.pic1, .pic2, .pic3 {
    background-color: white;
    height: 410px;
    width: 440px;
    align-content: center;
    display: inline-block;
    margin: 10px 10px;
    border: solid 1px black;
}
.infoBox {
    width: 100%;
    text-align: center;
    background-color: white;
    background: radial-gradient(white, transparent)
}
.clock {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    background-color:rgb(115, 115, 180);
    color: white;
    width: 430px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    border: inset;
    border-width: 15px;
    margin-bottom: 20px
    }
#gmap_canvas {
    height: 500px;
    width: 700px
}
.text {
    width: 70%;
    display: inline-block;
    text-align: left;
    color: rgb(252, 252, 122);
    font-family: url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
    /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; */
    /* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000; */
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;  
}