/* Main Background */
/* .App {
    text-align: center;
    background-size: cover;
    height: 100%;
    background-position: center; 
    background-image: url('https://cdn.suwalls.com/wallpapers/vector/currency-9975-1920x1200.jpg');
} */
.headerText{
    color: white;
    filter: brightness(100%);
    font-size: 60px;
}
.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.Background {
    text-align: center;
    background-image: url('../Components/Currency.jpeg');
    background-repeat: no-repeat;
}
.radio-inline1 {
    margin-left: -3px;
    margin-right: -3px;
}
.radio-inline2 {
    padding-left: 5px;
    padding-right: 5px;
}
.radio-inline3 {
    padding-left: 5px;
    padding-right: 5px;
}
.radio-inline4 {
    padding-left: 5px;
    padding-right: 5px;
}
.radio-inline5 {
    padding-left: 5px;
    padding-right: 5px;
}
input[type="radio"]{
    margin: 0 10px 0 10px;
}